<div class="user-title">
  <strong>User Management</strong>
  <p>Management of all users on platform</p>
</div>
<div nz-row class="container-box">
  <div nz-col nzSpan="8">
    <div class="teacher"><img routerLink="/dashboard/user-management-teachers" src="../../../../assets/imgs/Teacher.png"
      alt="student" /></div>
  </div>
  <div nz-col nzSpan="8" nzOffset="4">
    <div class="student"><img src="../../../../assets/imgs/Student.png" routerLink="/dashboard/user-management-students" alt="student" /></div>
  </div>
</div>
