<app-arrow-back [title]="'Teachers'" [routerLink]="'/dashboard/user-management-teachers'"></app-arrow-back>
<div nz-row nzJustify="space-around" nzAlign="middle" nzType="flex" class="container">
  <div nz-col [nzXs]="{ span: 20}" [nzLg]="{ span: 24}" class="inner-container" >
    <div nz-col nzSpan="8" nzOffset="13">
      <nz-form-item>
        <nz-form-control>
          <button nz-button [nzType]="'primary'" (click)="deactivateAccount()" class="btn-deactivate-account">DEACTIVATE
            ACCOUNT</button>
        </nz-form-control>
      </nz-form-item>
    </div>
    <h1>Teachers Profile</h1>
    <form nz-form [formGroup]="form">
      <div nz-row>
        <div nz-col nzSpan="10">
          <nz-form-item>
            <nz-form-control>
              <nz-form-label nzFor="identity Number">Identity Number</nz-form-label>
              <input type="text" formControlName="identityNumber" class="teacher-input" placeholder="Identity Number" />
              <app-form-control-error [control]="form.get('identityNumber')" [submitting]="saving"
                label="Identity Number">
              </app-form-control-error>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label nzFor="Grade">Grade</nz-form-label>
              <select name="" id="" class="teacher-input" formControlName="grade">
                <option></option>
              </select>
              <app-form-control-error [control]="form.get('grade')" [submitting]="saving" label="grade">
              </app-form-control-error>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="10" nzOffset="1">
          <nz-form-item>
            <nz-form-control>
              <nz-form-label nzFor="fullName">Full Name</nz-form-label>
              <input type="text" formControlName="fullName" class="teacher-input" placeholder="Full Name" />
              <app-form-control-error [control]="form.get('fullName')" [submitting]="saving" label="Full Name">
              </app-form-control-error>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <nz-form-label nzFor="emailAddress">Email Address</nz-form-label>
              <input type="text" formControlName="emailAddress" class="teacher-input" placeholder="Email Address" />
              <app-form-control-error [control]="form.get('emailAddress')" [submitting]="saving" label="Email Address">
              </app-form-control-error>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-col nzSpan="8" nzOffset="13">
        <nz-form-item>
          <nz-form-control>
            <button nz-button class="btn-submit" (click)="submit()" [nzType]="'primary'">SUBMIT</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </div>
</div>
<div class="btn-group">
  <button nz-button [nzType]="'primary'" routerLink="/dashboard/upload-new-student" (click)="download()" class="btn-download">DOWNLOAD EXCEL SPREAD SHEET</button>
  <button nz-button [nzType]="'primary'" routerLink="/dashboard/add-new-student" (click)="addNewStudent()" class="btn-new-student">ADD NEW STUDENT</button>
</div>

<app-user-management-teacher-table btnView="btn-user-view"></app-user-management-teacher-table>

