<app-arrow-license-back></app-arrow-license-back>
    <div nz-row class="container">
      <div nz-col nzSpan="10">
        <div class="licence-box">
          <h1>Active Licenses</h1>
          <span>200</span>
        </div>
      </div>
      <div nz-col nzSpan="10" nzOffset="4">
        <div class="licence-box" >
          <h1>Inactive Licenses</h1>
          <span>300</span>
        </div>
      </div>
    </div>
<app-user-management-teacher-table btnView="btn-user-view"></app-user-management-teacher-table>




