@import '../../../../assets/styling/app.buttons.scss';
@import '../../../../assets/styling/app.sizes.scss';


.next-btn {
    float: right;
    margin-bottom: 150px;
    @include button($primary-color-one, $primary-color-two, $primary-color-three);
}

.label-back-login {
    font-weight: bold;
    color: $primary-color-three;
}

@media (max-width: $phone-landscape-breakpoint) {
    .inner-container {
        margin-top: 15px;
    }
}
