<app-header-backgroud></app-header-backgroud>

<div nz-row nzJustify="space-around" nzAlign="middle">
  <div  nz-col nzXs="20" nzLg="8" class="inner-container">
    <h1>Forgot Password</h1>
    <form nz-form [formGroup]="form">
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
              <nz-form-label nzFor="email">Email Address</nz-form-label>
              <input type="email" formControlName="emailAddress" placeholder="Email Address" />
              <app-form-control-error [control]="form.get('emailAddress')" [submitting]="saving" label="Email Address">
              </app-form-control-error>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzSpan]="24">
          <a routerLink="/account/login" class="label-back-login">BACK</a>
        </div>
      </div>
      <nz-form-item>
        <nz-form-control>
          <button nz-button (click)="next()" class="next-btn" [nzType]="'primary'">NEXT</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
</div>
