.menu span {
    margin-right: 20px;
    margin-left: 20px;
}

p {
    padding-left: 20px;
    margin-top: 3px;
}

.user-icon {
    margin-left: 9px;
}

.full-name {
    float: right;
    margin-top: 8px;
    padding-right: 35px;
}
