<app-header-backgroud></app-header-backgroud>

<div nz-row nzJustify="space-around" nzAlign="middle" nzType="flex">
  <div nz-col nzXs="20" nzLg="8" class="inner-container">
    <h1>New Password</h1>
    <form nz-form [formGroup]="form">
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
              <nz-form-label nzFor="email">New Password</nz-form-label>
              <input type="text" formControlName="password" class="input-new-password" placeholder="New Password" />
              <app-form-control-error [control]="form.get('password')" [submitting]="saving" label="New Password">
              </app-form-control-error>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
              <nz-form-label nzFor="password">Retype New Password</nz-form-label>
              <input type="password" formControlName="retypeNewPassword" class="input-new-password"
                placeholder="Retype New Password" />
              <app-form-control-error [control]="form.get('retypeNewPassword')" [submitting]="saving"
                label="Retype New Password">
              </app-form-control-error>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-col>
        <nz-form-item>
          <nz-form-control>
            <button nz-button class="submit-btn" (click)="submit()" [nzType]="'primary'">SUBMIT</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </div>
</div>
