<div nz-row nzJustify="space-around" nzAlign="middle" nzType="flex" class="container">
  <div nz-row>
    <div nz-col class="gutter" [nzSpan]="5">
      <div class="inner-box">
        <img src="../../../../assets/logos/Britannica_school.png" alt="">
      </div>
    </div>
    <div nz-col class="gutter" [nzSpan]="5">
      <div class="inner-box"> <img src="../../../../assets/logos/Britannica_imagequest.png" alt=""></div>
    </div>
    <div nz-col class="gutter" [nzSpan]="5">
      <div class="inner-box"> <img src="../../../../assets/logos/Britannica_launchpacks.png" alt=""></div>
    </div>
    <div nz-col class="gutter" [nzSpan]="5">
      <div class="inner-box"> <img src="../../../../assets/logos/Britannica_library.png" alt=""></div>
    </div>
      
    <div nz-row class="description">
      <div nz-col nzSpan="8" nzOffset="1" >
        <span>In powered by</span>
         <div class="britannica-logo">
          <img src="../../../../assets/imgs/Britannica.png" alt="">
         </div>
         <div class="britannica-video">
          <img src="../../../../assets/imgs/Screenshot 2021-02-16 at 11.33.31.png" alt="">
        </div>
      </div>
      <div nz-col nzSpan="8" nzOffset="4">
        <h4>Britannica Digital Learning provides reliable, award-winning reference and curriculum solutions for educators,
          serving 140 Million students across 83+ countries.</h4>
      </div>
    </div>
  </div>
</div>
