$primary-color-one: #fc0;
$primary-color-two: #fff;
$primary-color-three: #1a1a1a;
$primary-color-four: #707070;
$footer-color: #4169e1;
$filter-button: #d6d6d6;
$dashboard-header: rgb(240 242 245);
$box-search: #003554;
$error: #f00;
$price-report: #76c000;
