@import '../../../../assets/styling/app.colors.scss';

nz-footer {
    background-color: $primary-color-three;
    color: $footer-color;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 400px;

    .menu {
        float: left;
        list-style-type: none;
        margin: 0;
        padding: 0;
        margin-left: 18px;
    }
}

li {
    display: inline;
    margin-left: 20px;
    cursor: pointer;
}

.icons-list {
    font-size: 27px;
    float: right;
    margin-top: 0;
}

.anticon,
.anticon svg {
    display: inline-block;
    margin-left: 20px !important;
}
