@import '../../../../../src/assets/styling/app.input.scss';
@import '../../../../assets/styling/app.colors.scss';
@import '../../../../assets//styling/app.sizes.scss';
.icon-back {
    font-size: 30px;
}

.icon-back strong {
    padding-left: 50px;
}

p {
    font-size: 15px;
    padding-left: 80px;
    padding-top: 10px;
    color: $primary-color-four;
    font-weight: normal;
}
img {
    cursor: pointer;
}

@media (max-width: $phone-landscape-breakpoint) {
    .icon-back {
        font-size: 20px;
        margin-left: -255;
        margin-top: 35px;
    }
}
